.btn {
  background-color: skyblue;
  color: aliceblue;
  border: lightblue;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.btn:hover {
  background-color: aliceblue;
  color: skyblue;
  cursor: pointer;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    74deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(33, 242, 240, 1) 12%,
    rgba(0, 212, 255, 1) 100%
  );
}
